/* root variables */
:root {
  --header-heigth: 80px;
  --footer-heigth: 80px;
}

/* Header styles */
nav {
  height: 80px;
  justify-items: center;
}

header {
  background: #ffbd59;
  height: var(--header-heigth);


}

/* Tasty-Icon-Facts div */
.title-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* lime-icon*/
#header-icon {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  margin-left: 5px;


}

/* Tasty-Facts */
.title-style {
  font-family: "norwester", "sans-serif";
  font-size: 50px;
  color: #03989e;


}

.tasty-header {
  width: 60%;
  display: flex;
  justify-content: end;
}


/*  input styles */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.input-field {
  height: 50px;
  width: 250px;
  padding: 5px 10px;
  border-radius: 50px;
  border: solid 2px #ffbd59;
}

/* Search button styles */
.search-btn {
  height: 50px;
  width: 100px;
  border-radius: 100px;
  font-size: 20px;
  background: #03989e;
  border: none;
  padding: 0;
  margin-left: 20px;
  color: #ffbd59;
  
}
.input-field{
text-align: center;
}
.search-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.search-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* end of search button styles */

/*Modal */
.modal-header {
  background-color: #ffbd59;
  opacity: 0.9;
}

.modal-dialog {
  color: #03989e;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  width: 100%;
  border-radius: 0;
  background-color: white;
  opacity: 0.9;
  border-radius: 20px;
  /* color: white; */
}


.modal-dialog .btn {
  background-color: #ffbd59;
  color: #03989e;
  border-radius: 15px;
}

.modal-dialog .btn:hover {
  background-color: #03989e;
  color: #ffbd59;
  border-radius: 15px;
}

.modal-dialog .flag {
  max-width: 200px;
  height: auto;
}

.modal-dialog .card-img {
  max-width: 150px;
  height: auto;
  float: left;
  margin: 0;
}

.modal-footer {
  background-color: #ffbd59;
  opacity: 0.9;
}

/*End of modal styles */


/*Dropdown styles*/

#dropdown-btn {
  background-color: #03989e;
  border-color: #ffbd59;
  border-radius: 100px;
  color: #ffbd59;
  border: solid 2px;
  margin-right: 20px;
  height: 50px;
  font-size: 1.2rem;

}

.dropdown {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.dropdown-menu {
  border-radius: 100px;
  color: #03989e;
  border-radius: 100px;
  border-color: #03989e;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  color: #03989e;
  border-radius: 100px;
}

/*End of dropdown styles */


/* map styles */
#world-map {
  height: calc(100vh - (var(--footer-heigth) + var(--header-heigth)));
  padding: 60px;
  background-color: #505050;
}

/* footer styles */
footer {
  background-color: #ffbd59;
  height: var(--footer-heigth);
}