/* Header styles */
header {
  background: #ffbd59;
}
h1 {
  color: #03989e;
  font-family: 'Norwester', sans-serif; 
  font-weight: 500;
}

/*  input styles */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
  width: 100%;
}
.input-field {
  height: 50px;
  width: 250px;
  border-radius: 50px;
  border: solid 2px #ffbd59;
}
/* Search button styles */
.search-btn {
  height: 50px;
  width: 100px;
  border-radius: 100px;
  font-size: 20px;
  background: #03989e;
  border: none;
  padding: 0;
  margin-left: 20px;
  
  color: #ffbd59;
}

.search-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.search-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* end of search button styles */

#message-text{
max-height: fit-content;
height: 500px;
}